html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.card-price {
  padding-bottom: 2.8rem;
}
 
  @media (max-width: 375px) {
    .four-boxes {
      padding-bottom: 2rem;  
    }

    .homepic {
      justify-content: center;
    }

    .homepic img {
      height: 150px;
    }

    .price-text {
      font-size: 2.75rem;
    }

    .screens img {
      width: 90% !important;
    }
  }

  @media (max-width: 428px) {

    .homepic {
      justify-content: center;
    }

    .homepic img {
      height: 200px;
    }

  }


  @media (max-width: 480px) {
    .video {
      display: flex;
    }

  }

  @media (max-width: 768px) {
    .four-cols {
      font-size: 1.15rem;
    }
  }

  @media (max-width: 1024px) {
    .homepic {
      display: flex;
      padding-top: 2rem;
    }
    
    .video {
      margin-top: 3rem;
    }

    .screens {
      text-align: -webkit-center;
    }

    .screens img {
      width: 70%;
    }
  }