html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

  @media (max-width: 375px) {
    .video {
      display: flex;
    }

    .homepic {
      justify-content: center;
    }

    .homepic img {
      height: 212px;
    }

    .four-boxes {
      padding-bottom: 2rem;
    }
  }

  @media (max-width: 428px) {

    .homepic {
      justify-content: center;
    }

    .homepic img {
      height: 212px;
    }
  }

  @media (max-width: 480px) {
    .video {
      display: flex;
    }

    .homepic {
      justify-content: center;
    }

    .homepic img {
      height: 212px;
    }
  }

  @media (max-width: 1024px) {
    .homepic {
      display: flex;
      padding-top: 3rem;
    }
  }